[submodule "cinder"]
	path = cinder
	url = https://github.com/cinder/Cinder.git
[submodule "blocks/Cinder-OpenCV4"]
	path = blocks/Cinder-OpenCV4
	url = https://github.com/gaborpapp/Cinder-OpenCV4.git
[submodule "blocks/Cinder-spdlog"]
	path = blocks/Cinder-spdlog
	url = https://github.com/gaborpapp/Cinder-spdlog.git
[submodule "blocks/Cinder-Boost"]
	path = blocks/Cinder-Boost
	url = https://github.com/gaborpapp/Cinder-Boost.git
